<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New Movie</h1>
<table>
    <tr>
        <form action="insert" method="post">
            <td>Title</td> <td><input type="text" name="title"></td>
            <tr>
                <td>Release year</td> <td><input type="text" name="releaseYear"></td>
            </tr>
            <tr>
                <td>Description</td> <td><input type="text" name="description"></td>
            </tr>
            <tr>
                <td>Tags</td> <td><input type="text" name="tags"></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </form>
        <form action="/" method="get" >
        <button>Cancel</button>
        </form>
    </tr>
</table>
</body>
</html>